---
sitemap: false
---

/*
 *
 *  Minimal Mistakes
 *
 *  Designer: Michael Rose
 *  Twitter: http://twitter.com/mmistakes
 *
*/

$my-link-color: #BB4565;

// Partials
@import "variables";
@import "grid";
@import "mixins";
@import "normalize";
@import "site";
@import "typography";
@import "pygments";
@import "coderay";
@import "elements";
@import "forms";
@import "page";
@import "vendor/font-awesome/font-awesome";
@import "vendor/magnific-popup/magnific-popup";
//@import "vendor/google/fonts";


.article-wrap p>a {
    text-decoration: none;
    color: $my-link-color ;
}


.custom-link {
    color: $my-link-color;
}

.article-wrap p>a:hover {
    color: #32568F;
}

.article-wrap p {
    font-size: 1.15em;
}

.notice {
    background-color: #F5F266;
}

.top-navigation li {
  font-size: 1.25em;
}

.site-name {
  font-size: 1.35em;
}

a:visited {
	color: #995454;
}




















